@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/light/HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
		url('../fonts/light/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/light/HelveticaNeueCyr-Light.woff') format('woff'),
		url('../fonts/light/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/bold/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
		url('../fonts/bold/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bold/HelveticaNeueCyr-Bold.woff') format('woff'),
		url('../fonts/bold/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}